{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }
        video {
            position: fixed;
            right: 0px;
            bottom: 0px;
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
            /*加滤镜*/
            /*-webkit-filter: grayscale(100%);*/
            /*filter:grayscale(100%);*/
            /*z-index: -11*/
        }

        source {
            min-width: 100%;
            min-height: 100%;
            height: auto;
            width: auto;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Introduce</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/cover/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/cover/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover/cover.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/cover/ie-emulation-modes-warning.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <video autoplay loop="loop">
        <!-- <source src="../static/images/background/Human.mp4" type="video/mp4"> -->
        <source src="{% static 'images/background/night.mp4' %}" type="video/mp4">
    </video>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h2 class="masthead-brand">介绍</h2>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="/Zawarudo/home">主页</a></li>
                                <li class="active"><a href="/Zawarudo/about">说明</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">作品 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">2D 作品</li>
                                        <li><a href="/Zawarudo/visualization">飞机航线1</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">3D 作品</li>
                                        <li><a href="/Zawarudo/visualization">飞机航线2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="inner cover">
                            <br><br/>
                            <br><br/>
                            <br><br/>
                        </div>
                        <div class="inner cover">
                            <h1 class="cover-heading">地理可视化：飞机航线</h1>
                            <p class="lead">
                                主题为飞机航线的可视化，并分别进行了二维地理可视化以及三维地球可视化。<br>
                                二维地理可视化内容包括：等。<br>
                                三维地球可视化数据为选取全球十大航空公司，共8000多处飞机场，以及17000多条航线。将飞行轨迹可视化显示在3D地球上。<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="lead"> </p>
                    <p class="lead">
                        <a href="/Zawarudo/visualization" class="btn btn-lg btn-default">了解更多</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="https://github.com/toublemeeter">GitHub</a>, by <a href="https://github.com/toublemeeter">toublemeeter</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="/static/js/cover/jquery.min.js"><\/script>')
    </script>
    <script src="{% static 'js/cover/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/cover/ie10-viewport-bug-workaround.js' %}"></script>
</body>

</html>
