{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Welcome</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/cover/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/cover/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover/cover.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/cover/ie-emulation-modes-warning.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- 背景图 -->
<body style="background-image: url({% static 'images/background/starfield.jpg' %});background-size:100% 100%;">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <!-- 标题 -->
                        <h2 class="masthead-brand">欢迎</h2>
                        <nav>
                            <ul class="nav masthead-nav">
                                <!-- 导航栏 -->
                                <li class="active"><a href="/Zawarudo/home">主页</a></li>
                                <li><a href="/Zawarudo/about">说明</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">作品 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">2D 作品</li>
                                        <!-- 下拉框 -->
                                        <li><a href="/Zawarudo/visualization1">飞机航线1</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">3D 作品</li>
                                        <li><a href="/Zawarudo/visualization2">飞机航线2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- 概要 -->
                <div class="inner cover">
                    <h1 class="cover-heading">数据可视化 展示</h1>
                    <p class="lead">地理可视化：飞机航线可视化</p>
                </div>
                <div>
                  <!-- 滚动图片窗口 -->
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                          <div class="item active">
                              <img src="/static/images/background/earth.jpg" height=150% width=200% alt="First slide">
                          </div>
                          <div class="item">
                              <img src="/static/images/background/universe.jpg" height=150% width=200% alt="Second slide">
                          </div>
                          <div class="item">
                              <img src="/static/images/background/earth3d.png" height=150% width=200% alt="Third slide">
                          </div>
                      </div>
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  </div>
                </div>
                <!-- 链接到作品2三维飞机航线 -->
                <div>
                    <p class="lead"> </p>
                    <p class="lead">
                        <a href="/Zawarudo/visualization2" class="btn btn-lg btn-default">了解更多</a>
                    </p>
                </div>
                <!-- 外链到github -->
                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="https://github.com/toublemeeter">GitHub</a>, by <a href="https://github.com/toublemeeter">toublemeeter</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>
            window.jQuery || document.write('<script src="/static/js/cover/jquery.min.js"><\/script>')
            </script>
            <script src="{% static 'js/cover/bootstrap.min.js' %}"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="{% static 'js/cover/ie10-viewport-bug-workaround.js' %}"></script>
</body>

</html>
