{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>数据可视化作业</title>
        <script type="text/javascript" src="{% static 'Zawarudo/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Zawarudo/js/echarts.js' %}"></script>
        <script type="text/javascript" src="{% static 'Zawarudo/js/bootstrap.js' %}"></script>

        <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="#">Geography Visualization</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Zawarudo/home">主页</a>
                        </li>
                        <li class="active">
                            <a href="/Zawarudo/visualization">可视化</a>
                        </li>
                        <li>
                            <a href="/Zawarudo/about">说明</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top: 5em;">
            <div class="row">
                <div class="col-md-8">
                    <div align="center">
                        <div id="main" style="width: 1100px;height:600px"></div>


                        <!-- ECharts单文件引入 -->
                        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
                        <script type="text/javascript">
                        // 路径配置
                        require.config({
                            paths: {
                                echarts: 'http://echarts.baidu.com/build/dist'
                            }
                        });

                        // 使用
                        require(
                            [
                                'echarts',
                                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                            ],
                            function (ec) {
                                // 基于准备好的dom，初始化echarts图表
                                var myChart = ec.init(document.getElementById('main'));

                                var option = {
                                    tooltip: {
                                        show: true
                                    },
                                    legend: {
                                        data:['销量']
                                    },
                                    xAxis : [
                                        {
                                            type : 'category',
                                            data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                                        }
                                    ],
                                    yAxis : [
                                        {
                                            type : 'value'
                                        }
                                    ],
                                    series : [
                                        {
                                            "name":"销量",
                                            "type":"bar",
                                            "data":[5, 20, 40, 10, 10, 20]
                                        }
                                    ]
                                };

                                // 为echarts对象加载数据
                                myChart.setOption(option);
                            }
                        );
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

